# Dependencies
node_modules/

# Docs
docs/
.claude/
.vscode/
.agents/

# Python
__pycache__/
*.pyc
*.py

# OS
.DS_Store
Thumbs.db

.stylelintignore
package-lock.json
package.json
skills-lock.json
.vercel
